@import "../../style/variables";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media (max-width: $mdBreakpoint) {
    flex-direction: column;
  }
}

.menu {
  flex: 1 1 30%;
  @media (max-width: $mdBreakpoint) {
    flex-basis: 100%;
  }
}

.content {
  flex: 1 1 70%;
  @media (max-width: $mdBreakpoint) {
    flex-basis: 100%;
  }
}
