@import "../../../style/variables";

.actions {
  padding: $spacingUnit * 4 0 $spacingUnit * 2;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-right: $spacingUnit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $blueColor;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

.link {
  color: $blueColor;
  font-size: 15px;
  font-weight: 900;
  margin-left: $spacingUnit * 2;
  &:hover {
    text-decoration: underline;
  }
}
