@import "../../../style/variables";

.item {
  display: block;
  text-align: center;
  > *:not(:first-child) {
    padding-top: $spacingUnit;
  }
}

.title {
  font-size: 16px;
  font-weight: 900;
  color: $blackColor;
}

.price,
.free {
  font-size: 13px;
  font-weight: 900;
}

.price {
  color: $redColor;
}

.free {
  color: $greenColor;
}

.img {
  $imgWidth: 125px;
  $imgHeight: 188px;
  width: $imgWidth;
  height: $imgHeight;
  min-width: $imgWidth;
  min-height: $imgHeight;
  max-width: $imgWidth;
  max-height: $imgHeight;
}
