// breakpoints
$mdBreakpoint: 600px;

// reference spacing
$spacingUnit: 8px;

// colors
$blackColor: #27314c;
$whiteColor: #fff;
$blueColor: #369ae9;
$redColor: #f44f71;
$greyColor: #788ead;
$greenColor: #36c887;
